TYPE=Ethernet
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=none
IPADDR={{ static_ip_address }}
PREFIX=24
GATEWAY=10.127.0.1
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=yes
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_FAILURE_FATAL=no
IPV6_ADDR_GEN_MODE=stable-privacy
NAME=eth1
DEVICE=eth1
ONBOOT=yes
ZONE=public
DNS1=10.127.0.7
PEERDNS=no
UUID=9c92fad9-6ecb-3e6c-eb4d-8a47c6f50c04
