<LocationMatch  "(/v3/OS-FEDERATION/identity_providers/sssd/protocols/kerberos/auth|/v3/auth/OS-FEDERATION/websso/kerberos)"  >
    AuthType GSSAPI
    AuthName GSSAPI-SSO
    GssapiCredStore keytab:/etc/httpd/conf/openstack.keytab
    GssapiSSLonly On
    Require valid-user
    LookupUserAttr mail REMOTE_USER_EMAIL
    LookupUserGroups REMOTE_USER_GROUPS ;

    SetEnv IDP_ID SSSD
</LocationMatch>

