[all]
{% for item in osservers.results %}
{{ item.server.name }}
{% endfor %}


[ipa]
{% for item in osservers.results %}
{% if item.server.name.startswith('idm')  %}
{{ item.server.name  }}
{% endif %}
{% endfor %}

[sso]
{% for item in osservers.results %}
{% if item.server.name.startswith('sso')  %}
{{ item.server.name  }}
{% endif %}
{% endfor %}

[bastion]
{% for item in osservers.results %}
{% if item.server.name.startswith('bastion')  %}
{{ item.server.name  }}
{% endif %}
{% endfor %}



[masters]
{% for item in osservers.results %}
{% if item.server.name.startswith('master')  %}
{{ item.server.name  }}
{% endif %}
{% endfor %}

[nodes]
{% for item in osservers.results %}
{% if item.server.name.startswith('node')  %}
{{ item.server.name  }}
{% endif %}
{% endfor %}




[all:vars]
ipa_server_password={{ ipa_server_password }}
ipa_domain={{ clustername }}
deployment_dir={{ cluster_dir }}
ipa_realm={{ clustername|upper }}
cloud_user=cloud-user
ipa_admin_user_password={{  ipa_admin_password }}
ipa_forwarder={{ ipa_forwarder }}
lab_nameserver1={{ lab_nameserver1 }}
lab_nameserver2={{ lab_nameserver2 }}
lab_nameserver3={{ lab_nameserver3 }}
{% for item in osservers.results %}
{% if item.server.name.startswith('idm')  %}
nameserver={{ item.server.private_v4  }}
{% endif %}
{% endfor %}
